{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h3>{{ page_heading_2 }}</h3>
        <h4>{{ sid_text }}{{ sid }}</h4>
        <h4>{{ storage_text }}</h4>
        <p class="curr_page"><a href="{{ landing_page }}">Home</a></p>

    </div>
{% endblock %}
